In [1]:
import pandas as pd
import numpy as np

In [3]:
file = '/Users/nelsonvaldivieso/Desktop/RiskSpanSkillsAssessment modified.xlsx'
df = pd.read_excel(file, sheet_name='Data')

In [4]:
df.head()

,LOAN_NUMBER,SAMPLE_DATE,FILE_REQ_DATE,SECOND_REQUEST_DATE,SENT_TO_IMAGING_DATE,LENDER_RESPONSE_DUE_DATE,DATE_LOAN_FINALIZED,LENDER_ID,LENDER_NAME,LENDER_LOAN_ID,...,FIELD_REVIEW_VALUE_SUPPORTED,FIELD_REVIEW_VALUE,PURPOSE_CODE,OCCUPANCY_CODE,LENDER_INST_TYPE_DESCRIPTION,UNDERWRITER_NAME,REVIEW_DATE,REVIEW_STATUS,DEAL_NAME,START_DATE
0,19457569,2010-11-22,2010-11-25,NaT,NaT,NaT,2011-01-24,ZMFHQJ,"Wells Fargo Bank, N.A.",26291118,...,NaN,NaN,P,B,Bank Owned Mortgage Company - National,Mike Willams,2011-01-13,4.0,WFMBS 2006-5,2013-06-01
1,16864087,2012-04-03,2012-04-05,2012-04-20,NaT,NaT,2012-04-24,NXYFBZ,"Wells Fargo Bank, N.A.",381247287,...,NaN,NaN,R,B,Bank Owned Mortgage Company - National,Mike Willams,2012-04-23,4.0,WFMBS 2006-AR4,2013-06-01
2,17137579,2012-06-27,2012-06-27,NaT,2012-07-13,NaT,2012-07-20,CKZGQU,Cobalt Mortgage Inc,38200028,...,NaN,NaN,P,B,Mortgage Banker - Bank Owned,Mike Willams,2012-07-20,4.0,WFMBS 2006-AR4,2013-06-01
3,20382551,2012-10-08,2012-10-11,NaT,2012-10-26,NaT,2012-12-10,DMYYBZ,McLean Mortgage Corporation,416297794,...,NaN,NaN,P,B,Mortgage Banker - Bank Owned,Eric Miller,2012-11-30,4.0,WFMBS 2006-5,2013-06-01
4,23078618,2012-10-04,2012-10-08,NaT,2012-10-22,NaT,2012-10-25,WIXLJR,LoanCare Servicing Center Inc,6967335,...,NaN,NaN,X,B,Mortgage Banker - (Large),Mike Willams,2012-10-23,4.0,WFMBS 2006-5,2013-06-01

In [8]:
print(df.pivot_table(index=['LENDER_INST_TYPE_DESCRIPTION'],aggfunc={'CURRENT_BALANCE':['count',np.mean,min,max]}))

                                       CURRENT_BALANCE            \
                                                 count       max
LENDER_INST_TYPE_DESCRIPTION
Bank Owned Mortgage Company - National           187.0  720000.0
Community Banks                                  499.0  729750.0
Credit Unions                                    374.0  578250.0
Mortgage Banker - (Large)                        279.0  729750.0
Mortgage Banker - Bank Owned                     661.0  625500.0


                                                 mean      min
LENDER_INST_TYPE_DESCRIPTION
Bank Owned Mortgage Company - National  242899.802139  43225.0
Community Banks                         211839.963928  28500.0
Credit Unions                           175149.601604  22500.0
Mortgage Banker - (Large)               260374.383513  59000.0
Mortgage Banker - Bank Owned            236262.689864  25018.0

In [9]:
print(df.pivot_table(index=['LTV_GROUP'],aggfunc={'CURRENT_BALANCE':['count',np.mean,min,max]}))

                CURRENT_BALANCE
                          count       max           mean      min
LTV_GROUP
<= 85%                    344.0  729750.0  223985.912791  43300.0
>85% and <= 90%           823.0  729750.0  235966.178615  22500.0
>90% and <= 95%           796.0  561700.0  209504.335427  28500.0
>95%                       37.0  371510.0  200910.189189  65475.0

In [11]:
print(df.pivot_table(index=['LOAN_AGE_GROUP'],aggfunc={'CURRENT_BALANCE':['count',np.mean,min,max]}))

               CURRENT_BALANCE
                         count       max           mean      min
LOAN_AGE_GROUP
0 - 9 Months            1435.0  729750.0  220033.188153  22500.0
10 - 19 Months           549.0  625500.0  228779.630237  28500.0

In [13]:
print(df.pivot_table(index=['FICO_SCORE_GROUP'],columns=['LTV_GROUP'],aggfunc={'CURRENT_BALANCE':[sum]}))

                 CURRENT_BALANCE
                             sum
LTV_GROUP                 <= 85% >85% and <= 90% >90% and <= 95%       >95%
FICO_SCORE_GROUP
< 600                        NaN        247050.0             NaN        NaN
>= 800                13377034.0      29368087.0      16979121.0  1444573.0
>=600 and <=699        3260490.0      14606019.0      14598016.0   629990.0
>=700 and <=799       60413630.0     149979009.0     135188314.0  5359114.0